<html>
  <head>
    <title>The Gossip Project </title>
  </head>
  <body>

    <h1>Mon super site de gossip, depuis le dossier views ! </h1>

    <p> Fais ton propre potin
    <a href="/gossips/new/">ton potin</a>.</p>

    <h2>Tous les potins du site:</h2>

    
    

   

  </body>
</html>